.App-dark {
  text-align: center;
  color: white;
  background-color: #242d34;
}

.App-light {
  text-align: center;
  color: #242d34;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tweetCard-dark {
  background-color: white;
  max-width: 30em;
  text-align: left;
  color: #282c34;
  width: 50%;
  margin: 0 auto 2em; 
}

.tweetCard-light {
  background-color: #282c34;
  max-width: 30em;
  text-align: left;
  color: white;
  width: 50%;
  margin: 0 auto 2em;
}

.tweetDetails {
  padding: 1em 2em 0.5em 2em;
}

.username {
  opacity: 40%;
  margin-top: 0;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.container {
  padding: 2em;
}

.dateTime {
  opacity: 50%;
}

.card_header {
  position: relative;
  display: flex;
  gap: 1em;
}

.title {
  margin-top: 0;
  padding-top: 2em;
}
